@model List<KnowledgeHubPortal.Domain.Entities.Article>

@if (TempData["Message"] != null)
{
        <div id="autoDismissAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Message:</strong> @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            setTimeout(function() {
                var alertElement = document.getElementById('autoDismissAlert');
                if (alertElement) {
                    var alert = new bootstrap.Alert(alertElement);
                    alert.close();
                }
            }, 3000); // 3000 milliseconds = 3 seconds
        </script>
}

	<a class="btn btn-primary" asp-action="Add"  asp-controller="Articles">Add New Article</a>


   <h2>Select Categories :</h2>
   <br/>
   <form asp-action="Index"  asp-controller="Articles">
        <select name="cid" asp-items="ViewBag.Categories">
            
      
        @*   @foreach (var cat in ViewBag.Categories as List<KnowledgeHubPortal.Domain.Entities.Category>)
    {
             <option value="@cat.CateoryId">@cat.CategoryName</option>
    } *@
     </select>
    <input type="submit" name="btnSearch" value="Search" />


  
       </form>
  



     <table class="table">
    <thead>
        <tr>
           
            <th>Title</th>
            <th>Description</th>
            <th>Posted By</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
                    <tr>
                        
                                <td><a href="@article.ArticleUrl" target="_blank">@article.Title</a></td>
                              
                        <td>@article.Description</td>
                        <td>@article.SubmittedBy</td>

                       
                       
                    </tr>
        }
    </tbody>
</table>

